body{
    margin:0px 0px;
    background-color: #F8F5F1;
}

header{
    background-color: #E1F1DD;
    position: relative;
    height: 4em;
    /*overflow: auto;*/
}

header img{
    margin-left: 40px;
    margin-top: 3px;
}

header h1{
    font-size: 30px;
    margin-left: 100px;
    margin-top: -50px;
    color: #766161;
}

header nav{
    float: right;
}

nav li{
    float: left;
    padding: 0px 10px;
    margin: 0px 10px;
    list-style-type: none;
    position: relative;
    right: 60px;
    top: -60px;
}

li a{
    text-decoration: none;
    color: #766161;
    font-size: 16px;
}

div.300-px-wide {
    width: 50;
}
